footer
{
	background-color: $color-dark;
	font-size: 0.8em;
	text-align: center;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0;

	p
	{
		padding-top: 10px;
		padding-bottom: 0;
		margin: 0;
		font-size: 1.2em !important;
	}

	.icon
	{
		margin-right: 5px;
		margin-left: 4px;
		font-size: 1.4em;
		display: inline-block;
		border: 1px solid $color-grey;
		border-radius: 50%;
		text-align: center;
		padding-top: 9px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		height: 48px;
		width: 48px;
		opacity: 0.45;
		transition: opacity 0.5s;

		&:hover
		{
			opacity: 1.0;
			cursor: pointer;
		}
	}
}