
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e804'; } /* '' */
.icon-stop:before { content: '\e805'; } /* '' */
.icon-play-1:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */